<%- include('../../partials/header.ejs')%>
<%- include('../../partials/homenavbar.ejs')%>

<body>
    <div class="container">
        <hr>
        <div class="cardmt-4">
            <div class="card-header">
              <h2>Criação de usuário </h2>  
            </div>
            <div class="card-body">
                <form action="/users/create" method="POST">
                    <input class="form-control" name="email" type="email" placeholder="email@exemplo.com">
                    <input class="form-control" name="password" type="password" placeholder="****">
                    <button class="btn btn-success btn-block">Criar</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include('../../partials/footer.ejs')%>